<!DOCTYPE html>
<html>
<head>
    <title>Petition Detail</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/petition_app/petition_detail.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="testbox">

        {% include "./header-section.html" %}

        <!-- Card deck -->
        <form action="/" class="card-deck row">
            {% csrf_token %}
            <div class="inside">
                <!-- Card -->
                <div class="card">

                    <!--Card image-->
                    <div style="padding:5px;" class="view overlay center">
                        <img src="https://www.karzar.net/uploads/thumbs//campaigns/2022/02/181x181_1645227421cd90pwu9zuxyowrurijjsumkgx8dro7q2sr9eah8.jpg" class="avatar" alt="درخواست ثبت بناهای ارزشمند در معرض تخریب بافت تاریخی شیراز">

                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!--Card content-->
                    <div class="card-body">
                        <!--Title-->
                        <h4 style="direction: rtl;text-align:right;" class="card-title"> <strong>درخواست ثبت بناهای ارزشمند در معرض تخریب بافت تاریخی شیراز</strong></h4>
                        <p style="direction: rtl;text-align:right;" class="card-text">
                            <br />جناب آقای عزت‌الله ضرغامی
                            وزیر محترم میراث فرهنگی، گردشگری و صنایع دستی
                            <br />
                            <br />با سلام و احترام
                            همان گونه که مستحضرید، بافت تاریخی شیراز در وسعتی ۳۶۰ هکتاری، دارای تنها ۴۱۰ اثر ثبت ملی و بیش از دوهزار اثر تاریخی ارزشمند شناسایی‌شده است. متأسفانه به‌دلیل دست‌اندازی‌های بی‌شماری که در دهه‌های اخیر تحت عنوان عملیات‌های توسعه و عمران در بافت‌های فرسوده شهری که عنوانی به‌اشتباه اطلاق‌شده به بافت‌های تاریخی است، بسیاری از بناهای فاخر این شهر به‌بهانه ثبت نبودن به‌صورت کامل از بین رفته‌اند.
                            در آخرین دست‌اندازی‌ها به این بافت تاریخی و در طرح توسعه ۵۷ هکتاری حرم شاهچراغ (ع)، بسیاری از بناهای ثبتی و غیرثبتی ارزشمند این پهنه در وسعتی چهار هکتاری در ده سال گذشته به‌صورت غیرقانونی توسط نهادهای مسئول تخریب شد‌ه‌اند و اکنون نیز عنوان می‌شود که بناهای ثبتی محدوده عدد قابل توجهی نیست و در صدد هستند تنها با حفظ تک بناهای ثبتی و تخریب دیگر بناها، طرح‌های توسعه بزرگ مقیاسی را در این بافت تاریخی اجرا کنند.
                            به‌خوبی می دانیم تعداد بناهای ارزشمند ثبت‌نشده این محدوده عدد قابل توجهی است که به‌واسطه فشارهای نهادهای قدرت و طرفدار توسعه بدون ضابطه، پرونده ثبتی این بناها سال‌هاست به حالت تعلیق در آمده و متولیان استانی به‌صورت تعمدی از ارسال پرونده‌های ثبتی این بناها جلوگیری کرده‌اند تا جواز تخریب در این پهنه ۵۷ هکتاری راحت‌تر گرفته شود.
                            لذا خواهشمند است جهت جلوگیری از دست‌اندازی‌های بیشتر و در جهت نجات بافت تاریخی شیراز از تخریب‌های سازمان‌یافته، ثبت اضطراری بناهای تاریخی این محدوده در دستور کار فوری آن وزارتخانه قرار گیرد.
                            <br />
                            با تشکر
                        </p>
                        <div class="metadata" style="border:0">
                            <div class="row">
                                <div class="col-lg-6 fa">
                                    <b>•</b> شروع کارزار: ٣٠ بهمن ١٤٠٠
                                </div>
                                <div class="col-lg-6 fa">
                                    <b>•</b> پایان کارزار: ٢٩ اسفند ١٤٠١
                                </div>
                                <div class="col-lg-6">
                                    <b>•</b> از طرف: دغدغه‌مندان حفاظت از بافت‌های تاریخی ایران
                                </div>
                                <div class="col-lg-6">
                                    <b>•</b> هشتگ رسمی: #نجات_بافت_تاریخی_شیراز
                                </div>
                                <div class="col-lg-6">
                                    <b>•</b> نویسنده: محمدمهدی کلانتری
                                </div>
                                <div class="col-lg-6">
                                    <b>•</b> لینک کارزار:
                                    <input type="text" id="sharelink" readonly="" value="https://www.karzar.net/30629" style="direction: ltr; height: 25px; width: 220px;">
                                </div>
                            </div>

                        </div>
                        <form method="get">
                            {% csrf_token %}
                            <div class="btn-block">
                                <button onclick="myFunction()" type="submit" href="{% url 'index' %}">امضا</button>
                            </div>
                        </form>
                        <script>
                            function myFunction() {
                                var txt;
                                if (confirm("Are you sure you want to sign the petition?")) {
                                    href = "petitionDetailes.html";
                                } else {
                                    href = "mainPage.html";
                                }
                            }
                        </script>
                    </div>
                </div>
            </div>
            <!-- Card -->
            <!--users who signed the oetition-->
            <div class="topic">
                <button style="float: left; margin-right: 50px; font-family: IranSans;margin:20px;" onclick="window.location.href='log-in.html';">عضو شوید</button>
                <h2 style=" font-family: IranSans;direction:rtl;text-align:right;margin:20px;">افرادی که از این کارزار حمایت کرده‌اند:</h2>
            </div>
            <div class="users">
                <div class="user-preview">
                    <div class="user-img">
                        <img class="user-img" src="https://www.karzar.net/uploads/thumbs//profile/2023/02/97x97_04081675600680znkh2kzk0k28rvimhapazvhmracmqgrngdelo9vr.jpg">
                    </div>
                    <div class="user-name">
                        امین مقدم
                    </div>
                </div>
                <div class="user-preview">
                    <div class="user-img">
                        <img class="user-img" src="https://www.karzar.net/uploads/thumbs//profile/2023/02/97x97_05241675432497fuyc9nhp9x8oeeu5jnhfenmacydqgyhtseaxoszr.jpg">
                    </div>
                    <div class="user-name">
                        امین مقدم
                    </div>
                </div>
                <div class="user-preview">
                    <div class="user-img">
                        <img class="user-img" src="https://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?s=75&amp;d=identicon&amp;r=g">
                    </div>
                    <div class="user-name">
                        امین مقدم
                    </div>
                </div>
                <div class="user-preview">
                    <div class="user-img">
                        <img class="user-img" src="https://www.karzar.net/uploads/thumbs//profile/2022/12/97x97_08471672507045kcq8x3fsm4proa4wft3srrxdt4tchzhemattgqcg.jpg">
                    </div>
                    <div class="user-name">
                        امین مقدم
                    </div>
                </div>
                <div class="user-preview">
                    <div class="user-img">
                        <img class="user-img" src="https://www.karzar.net/uploads/thumbs//profile/2023/01/97x97_09231674366836icjq0lwhd9c6tzm4oykghudmvultcybbtkzg9yfe.jpg">
                    </div>
                    <div class="user-name">
                        امین مقدم
                    </div>
                </div>
                <div class="user-preview">
                    <div class="user-img">
                        <img class="user-img" src="https://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?s=75&amp;d=identicon&amp;r=g">
                    </div>
                    <div class="user-name">
                        امین مقدم
                    </div>
                </div>
                <div class="user-preview">
                    <div class="user-img">
                        <img class="user-img" src="https://www.karzar.net/uploads/thumbs//profile/2022/12/97x97_04171671799671cymrpjmzxdjvcxyzrukq4qh9mwtldcrqu86mwdnm.jpg">
                    </div>
                    <div class="user-name">
                        امین مقدم
                    </div>
                </div>
                <div class="user-preview">
                    <div class="user-img">
                        <img class="user-img" src="https://www.karzar.net/uploads/thumbs//profile/2022/12/97x97_09181670219294tae8uxiawddppzvpy8qfmegg48w9ozv5v3opg1bl.jpg">
                    </div>
                    <div class="user-name">
                        امین مقدم
                    </div>
                </div>
                <div class="user-preview">
                    <div class="user-img">
                        <img class="user-img" src="https://www.karzar.net/uploads/thumbs//profile/2023/02/97x97_05241675432497fuyc9nhp9x8oeeu5jnhfenmacydqgyhtseaxoszr.jpg">
                    </div>
                    <div class="user-name">
                        امین مقدم
                    </div>
                </div>
                <div class="user-preview">
                    <div class="user-img">
                        <img class="user-img" src="https://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?s=75&amp;d=identicon&amp;r=g">
                    </div>
                    <div class="user-name">
                        مشاهده سایر اعضا ویژه
                    </div>
                </div>
            </div>
        </form>
        <!-- Card deck -->
        
        {% include "./footer-section.html" %}

    </div>
</body>
</html>