<!DOCTYPE html>
<html>
<head>
    <title>Petition Sign</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/petition_app/petition_detail.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="testbox">
        <!-----------------  header section ---------------->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <button onclick="window.location.href='log-in.html';" class="create-campaign-btn">
                            ایجاد کارزار
                        </button>
                        <button onclick="window.location.href='log-in.html';">
                            پنل کاربری
                        </button>
                        <button onclick="window.location.href='mainPage.html';">
                            <img src="../../../static/image/bell.png" width="30px" />
                        </button>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                درباره کارزار
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">معرفی استارپ آپ کارزار</a></li>
                                <li><a class="dropdown-item" href="#">ایا کارزار ها موثر است؟</a></li>
                                <li><a class="dropdown-item" href="#">رسانه های همراه</a></li>
                                <li><a class="dropdown-item" href="#">مجوز های قانونی</a></li>
                                <li><a class="dropdown-item" href="#">سیاست نامه های حریم خصوصی</a></li>
                                <li><a class="dropdown-item" href="#">قوانین و شرایط استفاده</a></li>
                                <li><a class="dropdown-item" href="#">پرسش های پر تکرار</a></li>
                                <li><a class="dropdown-item" href="#">رویداد کنشگری ایران</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                حمایت از کارزار
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">حمایت مالی</a></li>
                                <li><a class="dropdown-item" href="#">فهرست اعضای ویژه</a></li>
                                <li><a class="dropdown-item" href="#">عضویت ویژه در کارزار</a></li>
                                <li><a class="dropdown-item" href="#">جامعه داوطلبان کارزار</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                مجله کارزار
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">صفحه اصلی مجله</a></li>
                                <li><a class="dropdown-item" href="#">رادیو کارزار(پادکست)</a></li>
                                <li><a class="dropdown-item" href="#">دیدبان کارزار (ویدیو ها)</a></li>
                                <li><a class="dropdown-item" href="#">گزارش های رسانه ای</a></li>
                                <li><a class="dropdown-item" href="#">تجربه های موفق کنشگری</a></li>
                                <li><a class="dropdown-item" href="#">یادداشت های تحلیلی</a></li>
                                <li><a class="dropdown-item" href="#">فرهنگ کنشگری</a></li>
                                <li><a class="dropdown-item" href="#">اخبار کارزار</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                پیگیری کارزارها
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">پیگیری های رسانه ای </a> </li>
                                <li><a class="dropdown-item" href="#">ثبت در دبیرخانه ها</a></li>
                                <li><a class="dropdown-item" href="#">سایر پیگیری ها </a> </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                کارزارها
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">فهرست همه ی کارزارها</a></li>
                                <li><a class="dropdown-item" href="#">محبوب ترین کارزارها</a></li>
                                <li><a class="dropdown-item" href="#">پر امضا ترین کارزارها </a></li>
                                <li><a class="dropdown-item" href="#">کارزار های موفق</a></li>
                                <li><a class="dropdown-item" href="#">ککارزارهای داغ امروز</a></li>
                                <li><a class="dropdown-item" href="#">کارزارهای در حال رشد </a></li>
                                <li><a class="dropdown-item" href="#">کارزار های نوپا</a></li>
                            </ul>
                        </li>
                    </ul>
                    <div class="d-flex">
                        <div style="font-family: IranSans;">
                            <p style="text-align: right;padding-top:30px;margin:0;" class="navbar-title">کارزار</p>
                            <p style="text-align:right;justify-content:right;font-size:smaller;padding-top:0;" class="navbar-des"><br />بستر جمع‌آوری کارزارهای مستقل</p>
                        </div>
                        <img class="navbar-icon" src="http://karzar.net/assets/img/logo.png" />
                    </div>
                </div>
            </div>
        </nav>

        <!-- Card deck -->
        <form action="/" class="card-deck row">

            <div class="inside">
                <!-- Card -->
                <div class="card">

                    <!--Card image-->
                    <div style="padding:5px;" class="view overlay center">
                        <img src="https://www.karzar.net/uploads/thumbs//campaigns/2022/02/181x181_1645227421cd90pwu9zuxyowrurijjsumkgx8dro7q2sr9eah8.jpg" class="avatar" alt="درخواست ثبت بناهای ارزشمند در معرض تخریب بافت تاریخی شیراز">

                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!--Card content-->
                    <div class="card-body">
                        <!--Title-->
                        <h4 style="direction: rtl;text-align:right;" class="card-title"> <strong>درخواست ثبت بناهای ارزشمند در معرض تخریب بافت تاریخی شیراز</strong></h4>
                        <p style="direction: rtl;text-align:right;" class="card-text">
                            <br />جناب آقای عزت‌الله ضرغامی
                            وزیر محترم میراث فرهنگی، گردشگری و صنایع دستی
                            <br />
                            <br />با سلام و احترام
                            همان گونه که مستحضرید، بافت تاریخی شیراز در وسعتی ۳۶۰ هکتاری، دارای تنها ۴۱۰ اثر ثبت ملی و بیش از دوهزار اثر تاریخی ارزشمند شناسایی‌شده است. متأسفانه به‌دلیل دست‌اندازی‌های بی‌شماری که در دهه‌های اخیر تحت عنوان عملیات‌های توسعه و عمران در بافت‌های فرسوده شهری که عنوانی به‌اشتباه اطلاق‌شده به بافت‌های تاریخی است، بسیاری از بناهای فاخر این شهر به‌بهانه ثبت نبودن به‌صورت کامل از بین رفته‌اند.
                            در آخرین دست‌اندازی‌ها به این بافت تاریخی و در طرح توسعه ۵۷ هکتاری حرم شاهچراغ (ع)، بسیاری از بناهای ثبتی و غیرثبتی ارزشمند این پهنه در وسعتی چهار هکتاری در ده سال گذشته به‌صورت غیرقانونی توسط نهادهای مسئول تخریب شد‌ه‌اند و اکنون نیز عنوان می‌شود که بناهای ثبتی محدوده عدد قابل توجهی نیست و در صدد هستند تنها با حفظ تک بناهای ثبتی و تخریب دیگر بناها، طرح‌های توسعه بزرگ مقیاسی را در این بافت تاریخی اجرا کنند.
                            به‌خوبی می دانیم تعداد بناهای ارزشمند ثبت‌نشده این محدوده عدد قابل توجهی است که به‌واسطه فشارهای نهادهای قدرت و طرفدار توسعه بدون ضابطه، پرونده ثبتی این بناها سال‌هاست به حالت تعلیق در آمده و متولیان استانی به‌صورت تعمدی از ارسال پرونده‌های ثبتی این بناها جلوگیری کرده‌اند تا جواز تخریب در این پهنه ۵۷ هکتاری راحت‌تر گرفته شود.
                            لذا خواهشمند است جهت جلوگیری از دست‌اندازی‌های بیشتر و در جهت نجات بافت تاریخی شیراز از تخریب‌های سازمان‌یافته، ثبت اضطراری بناهای تاریخی این محدوده در دستور کار فوری آن وزارتخانه قرار گیرد.
                            <br />
                            با تشکر
                        </p>
                        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                        <form method="get">
                            <div class="btn-block">
                                <button onclick="myFunction()" type="submit" href="mainPage.html">امضا</button>
                            </div>
                        </form>
                        <script>
                            function myFunction() {
                                var txt;
                                if (confirm("Are you sure you want to sign the petition?")) {
                                    href = "petitionDetailes.html";
                                } else {
                                    href = "mainPage.html";
                                }
                            }
                        </script>
                    </div>
                </div>
            </div>
            <!-- Card -->
            <!--users who signed the oetition-->
            <div class="topic">
                <button style="float: left; margin-right: 50px; font-family: IranSans;margin:20px;" onclick="window.location.href='log-in.html';">عضو شوید</button>
                <h2 style=" font-family: IranSans;direction:rtl;text-align:right;margin:20px;">افرادی که از این کارزار حمایت کرده‌اند:</h2>
            </div>
            <div class="users">
                <div class="user-preview">
                    <div class="user-img">
                        <img class="user-img" src="https://www.karzar.net/uploads/thumbs//profile/2023/02/97x97_04081675600680znkh2kzk0k28rvimhapazvhmracmqgrngdelo9vr.jpg">
                    </div>
                    <div class="user-name">
                        امین مقدم
                    </div>
                </div>
                <div class="user-preview">
                    <div class="user-img">
                        <img class="user-img" src="https://www.karzar.net/uploads/thumbs//profile/2023/02/97x97_05241675432497fuyc9nhp9x8oeeu5jnhfenmacydqgyhtseaxoszr.jpg">
                    </div>
                    <div class="user-name">
                        امین مقدم
                    </div>
                </div>
                <div class="user-preview">
                    <div class="user-img">
                        <img class="user-img" src="https://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?s=75&amp;d=identicon&amp;r=g">
                    </div>
                    <div class="user-name">
                        امین مقدم
                    </div>
                </div>
                <div class="user-preview">
                    <div class="user-img">
                        <img class="user-img" src="https://www.karzar.net/uploads/thumbs//profile/2022/12/97x97_08471672507045kcq8x3fsm4proa4wft3srrxdt4tchzhemattgqcg.jpg">
                    </div>
                    <div class="user-name">
                        امین مقدم
                    </div>
                </div>
                <div class="user-preview">
                    <div class="user-img">
                        <img class="user-img" src="https://www.karzar.net/uploads/thumbs//profile/2023/01/97x97_09231674366836icjq0lwhd9c6tzm4oykghudmvultcybbtkzg9yfe.jpg">
                    </div>
                    <div class="user-name">
                        امین مقدم
                    </div>
                </div>
                <div class="user-preview">
                    <div class="user-img">
                        <img class="user-img" src="https://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?s=75&amp;d=identicon&amp;r=g">
                    </div>
                    <div class="user-name">
                        امین مقدم
                    </div>
                </div>
                <div class="user-preview">
                    <div class="user-img">
                        <img class="user-img" src="https://www.karzar.net/uploads/thumbs//profile/2022/12/97x97_04171671799671cymrpjmzxdjvcxyzrukq4qh9mwtldcrqu86mwdnm.jpg">
                    </div>
                    <div class="user-name">
                        امین مقدم
                    </div>
                </div>
                <div class="user-preview">
                    <div class="user-img">
                        <img class="user-img" src="https://www.karzar.net/uploads/thumbs//profile/2022/12/97x97_09181670219294tae8uxiawddppzvpy8qfmegg48w9ozv5v3opg1bl.jpg">
                    </div>
                    <div class="user-name">
                        امین مقدم
                    </div>
                </div>
                <div class="user-preview">
                    <div class="user-img">
                        <img class="user-img" src="https://www.karzar.net/uploads/thumbs//profile/2023/02/97x97_05241675432497fuyc9nhp9x8oeeu5jnhfenmacydqgyhtseaxoszr.jpg">
                    </div>
                    <div class="user-name">
                        امین مقدم
                    </div>
                </div>
                <div class="user-preview">
                    <div class="user-img">
                        <img class="user-img" src="https://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?s=75&amp;d=identicon&amp;r=g">
                    </div>
                    <div class="user-name">
                        مشاهده سایر اعضا ویژه
                    </div>
                </div>
            </div>
        </form>
        <!-- Card deck -->
        
        <!-----------------  footer ---------------->
        <footer>
            <section class="footer-top">
                <div class="right-section">
                    <div style="align-content:end;" class="about-karzar">
                        <p style="text-align: right; font-family: IranSans;">
                            کارزار بستری است برای اراده و خواست جمعی. برای آنکه دغدغه‌های گروهی دیده و صدای مردم شنیده شود. کارزار می‌خواهد بستری امن ایجاد کند برای ارائه خواسته‌های مدنی، به دور از هر گونه هنجارگریزی و قانون‌شکنی. هدف کارزار طرح دغدغه‌های فرهنگی، اجتماعی، صنفی، زیست‌محیطی، و… است توسط افرادی که قصد دارند قدم کوچکی بردارند برای بهتر شدن جامعه
                        </p>
                    </div>
                </div>
                <div class="left-section container">
                    <div class="sponsors">
                        <img class="" src="https://www.gilyamaha.com/wp-content/uploads/2022/10/enamad.png" alt="">
                        <img class="" src="https://www.karzar.net/assets/img/footer/e-anjoman.png" alt="">
                        <img class=" light-gray-bg" src="../../../static/image/logo.png" alt="">
                        <img class=" gray-bg" src="https://www.karzar.net/assets/img/footer/ssl.png" alt="">
                        <img class=" gray-bg" src="https://www.karzar.net/assets/img/footer/pars-pack.png" alt="">
                        <img class=" gray-bg" src="https://www.karzar.net/assets/img/footer/iwmf.png?v2" alt="">
                    </div>
                    <div class="quick-links">
                        <div class="row">
                            <a class="col-lg col-md-4 c-campaign" href="">ایجاد کارزار جدید</a>
                            <a class="col-lg col-md-4" href="">قوانین و شرایط </a>
                            <a class="col-lg col-md-4" href="">درباره ما</a>
                            <a class="col-lg col-md-4" href="">رسانه های همراه</a>
                            <a class="col-lg col-md-4" href="">مجله کارزار</a>
                            <a class="col-lg col-md-4" href="">کارزار</a>
                            <a class="col-lg col-md-4" href="">خانه</a>
                        </div>
                    </div>
                </div>
            </section>
            <section class="footer-middle">
                <div class="logo">
                    <div class="d-flex">
                        <div>
                            <p style="text-align: right;padding-top:20px;margin-bottom:0;" class="navbar-title">کارزار</p>
                            <p style="text-align:right;justify-content:right;font-size:smaller;" class="navbar-des"><br />بستر جمع‌آوری کارزارهای مستقل</p>
                        </div>
                        <img class="navbar-icon" src="https://www.karzar.net/assets/img/logo.png" />
                    </div>
                </div>
                <div class="social-media">
                    <div>
                        <a href="">
                            <img src="https://www.karzar.net/assets/img/socials/telegram.png" alt="">
                        </a>
                        <a href="">
                            @Karzarnet
                        </a>
                    </div>
                    <div>
                        <a href="">
                            <img src="https://www.karzar.net/assets/img/socials/twitter.png" alt="">
                        </a>
                        <a href=""> @Karzarnet</a>
                    </div>
                    <div>
                        <a href="">
                            <img src="https://www.karzar.net/assets/img/socials/instagram.png" alt="">
                        </a>
                        <a href="">
                            @Karzarnet
                        </a>
                    </div>
                    <div>
                        <a href="">
                            <img src="https://www.karzar.net/assets/img/socials/clubhouse.png" alt="">
                        </a>
                        <a href="">
                            Clubhouse
                        </a>
                    </div>
                    <div>
                        <a href="">
                            <img src="https://www.karzar.net/assets/img/socials/aparat.png" alt="">
                        </a>
                        <a href="">
                            Aparat
                        </a>
                    </div>
                    <div>
                        <a href="">
                            <img src="https://www.karzar.net/assets/img/socials/rss.png" alt="">
                        </a>
                        <a href="">RSS</a>
                    </div>
                </div>
            </section>
            <section class="footer-bottom">
                <p class="copy-right">
                    تمام حقوق برای شرکت توسعه فناوری برخط کارزار محفوظ است
                </p>
            </section>
        </footer>
    </div>
</body>
</html>