<!DOCTYPE html>
<html lang="en">
<head>
    <title>Rules</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/petition_app/rules.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="testbox">
        <!-----------------  header section ---------------->
        {% include "./header-section.html" %}

        <!--middlePart-->
        <form action="/">
            {% csrf_token %}
            <div class="item">
                <div class="banner">
                    <h1 style="font-family: IranSans;">قوانین و شرایط استفاده از کارزار</h1>
                </div>
                <div class="fulltext">
                    <p STYLE="float: right;font-family: IranSans">پتلفرم کارزار با کسب مجوزهای لازم در چهارچوب قوانین جمهوری اسلامی ایران و با اتکا به اصل ۲۴ قانون اساسی مبنی بر آزادی بیان، و همچنین منشور حقوق شهروندی و قانون تجارت الکترونیک در کشور فعالیت می‌نماید. قوانین، مقررات و شرایط استفاده از پلتفرم کارزار بدین شرح است:</p>
                    <ol class="text-list">
                        <li class="text-list">کاربران با ایجاد یک کارزار و یا امضای کارزار قوانین ذیل را می‌پذیرند:</li>
                        <li class="text-list">کارزار یک پلتفرم است. به این معنا که بستری بی‌طرف است که صرفا رابط ارتباطی و نمایشی بین نویسندگان مطالبات و امضاکنندگان آنها است. مسئولیت قانونی محتوای بیانیه‌ها، صحت ادعاهای احتمالی و همچنین پیگیری آن جهت به نتیجه رسیدن آن‌ها با نویسندگان آن‌هاست و کارزار دخالتی در آن ندارد. همچنین کارزار از انتشار متون حاوی هر گونه توهین یا افترا، و نیز مطالبات شخصی که جنبه عمومی ندارند معذور است.</li>
                        <li class="text-list">کارزار نظارت مستمری روی کیفیت امضاها دارد و تمام تلاش خود را می‌کند تا بتواند اسپم‌ها، ربات‌ها، و امضاهای غیرواقعی را حذف نماید. برای این منظور علاوه بر راهکارهای فنی، ممکن است با امضاکنندگان از طریق پیامک یا تلفنی تماس گرفته شود. در صورت مشاهده بیش از حد امضاهای غیرواقعی روی یک کارزار، آن کارزار متوقف خواهد شد.</li>
                        <li class="text-list">کارزار وابسته به هیچ نهاد، سازمان، حزب یا گروه سیاسی نیست و توسط چند فعال اجتماعی راه‌اندازی شده و مدیریت می‌شود. کارزار همواره سعی می‌کند تا در چهارچوب قانون و به اتکای اصل آزادی بیان در قانون اساسی، و بدون جانبداری مطالبه‌های مردمی را مطرح و منتشر کند. تیم کارزار از پویش‌هایی که جنبه‌های فرهنگی و اجتماعی دارد بیشتر استقبال می‌کند و در انتشار یا عدم انتشار متن‌های سیاسی مختار است.</li>
                        <li class="text-list">امکان حذف کامل صفحه مربوط به یک کارزار وجود ندارد، بلکه در صورت درخواست نویسنده، متن کارزار و نام او از صفحه حذف می‌شود. عنوان کارزار و فهرست امضاها و کامنت‌ها و پیگیری‌ها جزو داده‌هایی است که در مالکیت نویسنده کارزار نیست بنابراین با درخواست نویسنده نمی‌تواند حذف شود.&nbsp;</li>
                        <li class="text-list">تمامی مسئولیت‌های حقوقی و تبعات احتمالی ناشی از نگارش و انتشار بیانیه‌ها به عهده نویسنده یا نویسندگان آن خواهد بود.</li>
                        <li class="text-list">اطلاعات ثبت‌شده کاربران و مشخصات نویسنده به صورت عمومی در وبسایت نمایش داده می‌شود و جزو اطلاعات محرمانه محسوب نمی‌گردد. بنابراین در صورت درخواست خبرنگاران، مسئولان یا مقام محترم قضایی این اطلاعات به صورت موردی به افراد مورد اطمینان ارائه می‌شود. کارزار متعهد می‌شود از اطلاعات تماس کاربران برای مقاصد تبلیغاتی و غیرمرتبط با کارزار هیچ استفاده‌ای ننماید.</li>
                        <li class="text-list">کارزار به عنوان پلتفرم مورد اعتماد کاربران فعالیت می‌کند و به هیچ عنوان تحت فشار سازمان‌ها و مسئولین کارزارها را حذف یا متوقف نخواهد کرد مگر آنکه در متن مطالبه ادعای کذبی منتشر شده باشد یا در برابر تصمیم مقام قضایی و نهادهای ذیصلاح.</li>
                        <li class="text-list">منظور از «امضا» در پلتفرم کارزار، اطلاعاتی است که کاربران جهت اعلام موافقت خود با موضوعات مختلف در وبسایت ثبت می‌کنند. این امضاها صرفا معیاری جهت سنجش افکار عمومی است و جهت واگذاری یا سلب حقوق معتبر نخواهد بود.</li>
                        <li class="text-list">ملاک پلتفرم کارزار برای ثبت امضاها اطلاعات تماس (ایمیل یا موبایل) است. مسئولیت هر امضا با مالک اطلاعات تماس است و ثبت امضا به جای افراد دیگر اکیدا ممنوع و مذموم است و در صورت مشاهده این تخلف تیم کارزار حق شکایت و پیگیری را برای خود محفوظ می‌داند.</li>
                        <li class="text-list">در صورتی که کاربری نام خود را بدون آنکه امضا کرده باشد در لیست امضاکنندگان مشاهده نماید، می‌تواند از طریق ایمیل یا شماره تماس ثبت‌شده جهت حذف امضا با تیم کارزار ارتباط برقرار نماید. تیم کارزار در صورت مطابقت اطلاعات با پایگاه داده خود، مراتب را جهت پیگیری در اختیار پلیس فتا قرار خواهد داد.</li>
                        <li class="text-list">همانطور که می‌دانید در کشورمان با محدودیت‌ها و حساسیت‌های منطقی و غیرمنطقی زیادی مواجه هستیم. تیم کارزار تمام تلاش خود را خواهد کرد تا جایی که امنیت نویسندگان و امضاکنندگان به واسطه انتشار یا امضای کارزاری لطمه نبیند، میزبان مطالبات مردمی باشد. هدف ما ایجاد بستری «پایدار» برای مطالبه‌گری مدنی به صورت مستمر است و انگیزه اصلی ما تأثیرگذاری در جامعه در بلندمدت خواهد بود. بنابراین متأسفانه ممکن است گاهی موقتاً از انتشار برخی مطالبات بحق مردمی معذور باشیم.</li>
                        <li class="text-list">به دلیل مسئولیت‌های حقوقی و محدودیت‌های موجود و همچنین اهمیت امنیت اطلاعات کاربران، امکان جمع‌آوری اطلاعات از امضاکنندگان از طریق ارجاع آنان به بستر یا نشانی‌ای غیر از وبسایت کارزار وجود ندارد. در صورتی که نویسنده یا نویسندگان مایل به دریافت اطلاعاتی از امضاکنندگان یک کارزار باشند این فرآیند تنها در چهارچوب و طبق ضوابط پلتفرم کارزار امکان پذیر است.</li>
                        <li class="text-list">مبالغ حمایتی پرداختی در کارزار قابل عودت نیست. همچنین در صورت دریافت پرداخت‌های حمایتی و توقف کارزار به دلیل اتمام مهلت یا هر دلیل دیگری، مبالغ حمایتی نزد کارزار می‌ماند.</li>
                        <li class="text-list">بازنشر کارزارها در رسانه‌های اجتماعی کارزار، به تصمیم مدیر محتوایی است و انتشار آنها ممکن است به خاطر اولویت‌بندی‌های محتوایی، ترتیب انتشار، وجود موضوعات مشابه متعدد، مصادیق فردی، جانبداری سیاسی و... به تعویق بیفتد یا منتفی شود. کارزار در کم و کیف انتشار یا عدم انتشار محتواهای کاربران در شبکه‌های اجتماعی خود مختار است.</li>
                        <li class="text-list">کاربران می‌توانند پیش از انتشار کارزار، متن آن را در پنل خود ویرایش کنند اما&nbsp;امکان ویرایش متن کارزارهایی که دارای امضا هستند به هیچ وجه وجود ندارد.</li>
                        <li class="text-list">کارزار از انتشار مطالباتی که در آن مصادیق دعوت به خشونت، نژادپرستی و تبعیض نژادی، از بین بردن تمامیت ارضی ایران و مغایر با حقوق شهروندی وجود دارد معذور است. همچنین انتشار کارزارهایی در اعتراض به احکام قضایی در مورد اشخاص، اعتراض پرسنل نظامی و انتظامی و امنیتی، و کارزارهایی با مخاطبان مقامات بین‌المللی خارج از ایران امکان‌پذیر نیست.</li>
                    </ol>
                </div>
            </div>
        </form>
        <!-----------------  footer ---------------->
        {% include "./footer-section.html" %}

    </div>
</body>
